HTML{
    background-color: white;
}
@media screen and (min-width: 960px) {
    * {
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
    }

    header {
        align-items: center;
        display: flex;
        padding: 1vw 2vw;
        justify-content: space-between;
        background-color: #6733f6
    }

    section {
        margin-bottom: 65px;
        padding: 4vw 10vw 0;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .btn-aboutme {
        color: #6733f6;
        font-weight: 700;
        background-color: white;
        border: 2px solid white;
        padding: 7px;
        border-radius: 12px;
    }

    .contact {
        color: #6733f6;
        font-weight: 600;
        border: 2px solid white;
        padding: 7px;
        border-radius: 40px;
    }

    .header-image {
        width: 48px;
    }

    .info1 {
        display: flex;
        justify-content: space-between;
    }
    .image-zig4-o{
        display: none;
    }
    .image-zig {
        width: 20.83vw;
        /* 400px -> 20.83vw */
        border-radius: 1.25vw;
        /* 24px -> 1.25vw */
        border: 0.52vw solid #464f70;
        /* 10px -> 0.52vw */
    }

    .titulo {
        font-size: 6vw;
        font-weight: 900;
        color: #6733f6;
    }

    .txt2 {
        text-align: right;
    }

    .descricao {
        display: flex;
        font-size: 1.4vw;
        width: 70%;
        margin: 2vw 0;
        text-align: left;
        color: rgb(85, 85, 85);
        }

    .info2 {
        display: flex;
        justify-content: space-between;
    }

    .image-zig2 {
        height: 15.63vw;
        /* 300px -> 15.63vw */
        border-radius: 1.25vw;
        /* 24px -> 1.25vw */
        border: 0.52vw solid #464f70;
        /* 10px -> 0.52vw */
        margin: 0 6vw 0 0;
    }

    .titulo2 {
        font-size: 6vw;
        font-weight: 900;
        color: #6733f6;
    }

    .descricao2 {
        display: flex;
        font-size: 1.4vw;
        margin: 2vw 0;
        text-align: right;
        color: rgb(85, 85, 85);
    }

    .info3 {
        display: flex;
        justify-content: space-between;
    }

    .image-zig3 {
        height: 15.63vw;
        /* 300px -> 15.63vw */
        border-radius: 1.25vw;
        /* 24px -> 1.25vw */
        border: 0.52vw solid #464f70;
        /* 10px -> 0.52vw */
    }

    .image-zig4 {
        width: 20vw;
        border-radius: 1.25vw;
        /* 24px -> 1.25vw */
        border: 0.52vw solid #464f70;
        /* 10px -> 0.52vw */
    }

    .titulo4 {
        font-size: 6vw;
        font-weight: 900;
        color: #6733f6;
    }

    .txt4 {
        text-align: center;
    }

    .descricao4 {
        font-size: 1.4vw;
        margin: 2vw 0;
        padding: 0 5vw;
        text-align: justify;
        color: rgb(85, 85, 85);
    }

    .music {
        display: flex;
        justify-content: space-evenly;
    }

    .image-zig2-o {
        display: none;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.img-modal {
    margin: 10px;
}

@media screen and (max-width: 959px) {
    * {
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
    }

    header {
        align-items: center;
        display: flex;
        padding: 1vw 2vw;
        justify-content: space-between;
        background-color: #6733f6
    }

    section {
        margin-bottom: 65px;
        padding: 4vw 10vw 0;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .btn-aboutme {
        color: #6733f6;
        font-weight: 700;
        background-color: white;
        border: 2px solid white;
        padding: 7px;
        border-radius: 12px;
        text-decoration: none;
    }

    .contact {
        color: #6733f6;
        font-weight: 600;
        border: 2px solid white;
        padding: 7px;
        border-radius: 40px;
    }

    .header-image {
        width: 48px;
    }


    .info1 {
        display: grid;
        align-items: center;
        gap: 15px;
    }

    .image-zig4 {
        display: none;
    }
    .image-zig {
        width: 100%;
        border-radius: 24px;
        border: 4px solid #464f70;
    }
    .image-zig4-o {
        width: 100%;
        border-radius: 24px;
        border: 4px solid #464f70;
    }

    .titulo {
        font-size: 50px;
        font-weight: 900;
        color: #6733f6;
    }

    .txt2 {
        text-align: right;
    }

    .descricao {
        display: flex;
        font-size: 4vw;
        margin: 2vw 0;
        text-align: justify;
        color: rgb(85, 85, 85);
    }

    .image-zig2 {
        width: 100%;
        border-radius: 24px;
        border: 4px solid #464f70;
        margin: 5px 0;
    }

    .info2 {
        display: grid;
        align-items: center;
        gap: 15px;
    }

    .image-zig2 {
        display: none;
    }

    .image-zig2-o {
        width: 100%;
        border-radius: 24px;
        border: 4px solid #464f70;
    }

    .titulo2 {
        font-size: 50px;
        font-weight: 900;
        color: #6733f6;
    }

    .txt2 {
        text-align: center;
    }

    .descricao2 {
        display: flex;
        font-size: 4vw;
        margin: 2vw 0;
        text-align: justify;
        color: rgb(85, 85, 85);
    }




    .info13 {
        display: grid;
        align-items: center;
        gap: 15px;
    }

    .image-zig3 {
        width: 100%;
        border-radius: 24px;
        border: 4px solid #464f70;
        margin-top: 10px;
    }


    .titulo3 {
        font-size: 50px;
        font-weight: 900;
        color: #6733f6;
    }

    .txt3 {
        text-align: center;
    }

    .descricao3 {
        display: flex;
        font-size: 4vw;
        margin: 2vw 0;
        text-align: justify;
        color: rgb(85, 85, 85);
    }




    .info4 {
        display: grid;
        align-items: center;
        gap: 15px;
    }

    .image-zig4 {
        width: 100%;
        border-radius: 24px;
        border: 4px solid #464f70;
    }


    .titulo4 {
        font-size: 50px;
        font-weight: 900;
        color: #6733f6;
    }

    .txt4 {
        text-align: center;
    }

    .descricao4 {
        display: flex;
        font-size: 4vw;
        margin: 2vw 0;
        text-align: justify;
        color: rgb(85, 85, 85);
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    .close {
        float: right;
        font-size: 24px;
        cursor: pointer;
    }
    .icon-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .img-modal{
        margin: 10px;
    }
}