* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

header {
    padding: 2.5vw;
    display: flex;
    justify-content: space-between;
}

.image-logo {
    width: 2.5vw;
    transition: 300ms;
}
.image-logo:hover {
    transform: scale(1.1);
}

body {
    padding: 0 10vw;
    margin-bottom: 8vw;
    background-image: url(/src/img/piazinho.png);
    background-repeat: no-repeat;
    background-position: 65vw;
    background-size: 25%;
}

section {
    display: flex;
    height: 30vw;
    align-items: center;
}

.titulo {
    font-size: 6vw;
    font-weight: 900;
    color: #6733f6;
}

.descricao {
    display: flex;
    font-size: 1.15vw;
    width: 70%;
    margin: 2vw 0;

}

.btn {
    display: flex;
    width: 50%;
}

a {
    margin: 0 0.625vw 0 0;
}

.projects {
    border: 0.152vw solid #000000;
    background-color: #ffbfbd;
    color: black;
    padding: 6px 12px;
    border-radius: 0.312vw;
    font-weight: 900;
    font-size: 1.15vw;
    transition: 300ms;
}

.aboutme {
    border: 0.152vw solid #000000;
    background-color: #6733f6;
    color: white;
    padding: 8px 16px;
    border-radius: 0.312vw;
    font-weight: 900;
    font-size: 1.15vw;
    transition: 300ms;
}
.aboutme:hover{
    transform: scale(1.1);
}
.projects:hover{
    transform: scale(1.1);
}