HTML{
    background-color: white;
}
@media screen and (min-width: 960px) {
    * {
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
    }

    header {
        align-items: center;
        display: flex;
        padding: 1vw 2vw;
        justify-content: space-between;
        background-color: #6733f6
    }

    section {
        margin-bottom: 65px;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .btn-aboutme {
        color: #6733f6;
        font-weight: 700;
        background-color: white;
        border: 2px solid white;
        padding: 7px;
        border-radius: 12px;
        text-decoration: none;
    }

    .contact {
        color: #6733f6;
        font-weight: 600;
        border: 2px solid white;
        padding: 7px;
        border-radius: 40px;
    }

    .header-image {
        width: 48px;
    }

    .first-section {
        display: flex;
        align-items: center;
    }

    .info {
        width: 50%;
        padding: 8vw;
    }

    .image {
        width: 50%;
        text-align: center;
    }

    .section-image {
        width: 29vw;
    }

    .titulo {
        text-align: center;
        font-size: 6vw;
        text-align: left;
        color: #6733f6
    }

    .descricao {
        text-align: left;
        font-size: 1.4vw;
        color: rgb(85, 85, 85);
    }

    .container-projetos {
        text-align: center;
    }

    .titulo-projetos {
        text-align: center;
        font-size: 6vw;
        color: #6733f6;
    }

    .descricao-projetos {
        font-size: 1.4vw;
        color: rgb(85, 85, 85);
        padding: 0 8vw;
        text-align: left;
    }

    .projetos-image {
        width: 83.7%;
        margin: 22px 0;
    }

    .trashealth {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #f7a073;
        text-align: left;
    }

    .alurabooks {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #144468;
        text-align: left;
    }

    .fokus {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #861ff1;
        text-align: left;
    }

    .compras {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #f55b64;
        text-align: left;
    }

    .section-cards {
        display: flex;
        justify-content: space-between;
        padding: 65px 8vw 0;
    }

    .cards {
        width: 22vw;
        height: 30vw;
        border: 3px solid #6733f6;
        border-radius: 16px;
        padding: 2vw;
        background-color: white;
    }

    .linguagens-logo {
        width: 4vw;
        margin-right: 1vw;
    }

    .img-card {
        width: 5vw;
        border: 2px solid #6733f6;
        padding: 0.5vw;
        border-radius: 9999px;
    }

    .titulo-card {
        color: #6733f6;
        font-size: 2.8vw;
        margin-bottom: 1vw;
    }

    .descricao-card {
        font-size: 1.4vw;
        text-align: justify;
    }



    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .close {
        float: right;
        font-size: 24px;
        cursor: pointer;
    }

    .icon-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .img-modal {
        margin: 10px;
    }
}
@media screen and (max-width: 959px) {
    * {
        margin: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
    }

    header {
        align-items: center;
        display: flex;
        padding: 1vw 2vw;
        justify-content: space-between;
        background-color: #6733f6
    }

    section {
        margin-bottom: 65px;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .btn-aboutme {
        color: #6733f6;
        font-weight: 700;
        background-color: white;
        border: 2px solid white;
        padding: 7px;
        border-radius: 12px;
        text-decoration: none;
    }

    .contact {
        color: #6733f6;
        font-weight: 600;
        border: 2px solid white;
        padding: 7px;
        border-radius: 40px;
    }

    .header-image {
        width: 48px;
    }

    .first-section {
        align-items: center;
    }

    .info {
        padding: 8vw;
    }

    .image {
        text-align: center;
    }

    .section-image {
        width: 50vw;
    }

    .titulo {
        text-align: center;
        font-size: 12vw;
        text-align: left;
        color: #6733f6
    }

    .descricao {
        text-align: left;
        font-size: 4vw;
        color: rgb(85, 85, 85);
    }

    .section-cards {
        padding: 65px 8vw 0;
    }

    .cards {
        border: 3px solid #6733f6;
        margin-bottom: 10px;
        border-radius: 16px;
        padding: 2vw;
        background-color: white;
    }

    .linguagens-logo {
        width: 10vw;
        margin-right: 1vw;
    }

    .img-card {
        width: 10vw;
        border: 2px solid #6733f6;
        padding: 0.5vw;
        border-radius: 9999px;
    }

    .titulo-card {
        color: #6733f6;
        font-size: 12vw;
        margin-bottom: 1vw;
    }

    .descricao-card {
        font-size: 4vw;
        color: rgb(85, 85, 85);
        text-align: justify;
    }
    .container-projetos {
        text-align: center;
    }

    .titulo-projetos {
        text-align: center;
        font-size: 12vw;
        color: #6733f6;
    }

    .descricao-projetos {
        font-size: 4vw;
        color: rgb(85, 85, 85);
        padding: 0 8vw;
        text-align: left;
    }

    .projetos-image {
        width: 83.7%;
        margin: 22px 0;
    }

    .trashealth {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #f7a073;
        text-align: left;
    }

    .alurabooks {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #144468;
        text-align: left;
    }

    .fokus {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #861ff1;
        text-align: left;
    }

    .compras {
        display: flex;
        align-items: center;
        margin-top: 3vw;
        margin-left: 8vw;
        color: #f55b64;
        text-align: left;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .close {
        float: right;
        font-size: 24px;
        cursor: pointer;
    }

    .icon-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .img-modal {
        margin: 10px;
    }
    .projeto{
        margin-top: 65px;
    }
}
